
		<script id="templateTerritoryShow" type="text/x-jQuery-tmpl">
									<div id="{{dialogId}}" title="{{name}}" class="widgetActionTemplate">
										<div class="tab-container media">
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4">
														Fiefdom:
													</div>
													<div class="col-md-8">
														{{fiefdomName}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Ruler:
													</div>
													<div class="col-md-8">
														{{ruler}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Steward:
													</div>
													<div class="col-md-8">
														{{steward}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Longitude:
													</div>
													<div class="col-md-8">
														{{column}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Latitude:
													</div>
													<div class="col-md-8">
														{{row}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Terrain:
													</div>
													<div class="col-md-8">
														{{terrain}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														First Resource:
													</div>
													<div class="col-md-8">
														{{resource1}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Second Resource:
													</div>
													<div class="col-md-8">
														{{resource2}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Castle Strength:
													</div>
													<div class="col-md-8">
														{{cs}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Buildings:
													</div>
													<div class="col-md-8">
														{{buildings}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														Wasteland?
													</div>
													<div class="col-md-8">
														{{wasteland}}
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														No Man's Land?
													</div>
													<div class="col-md-8">
														{{noMans}}
													</div>
												</div>
											</div>
											<div class="col-md-3">
												{{links}}
											</div>
										</div>
									</div>
		</script>